 *{
	margin: 20;

	padding:10;
}
.vasu{
color: blue;
padding-top: 10px;
font-style: italic;
font-size: 30px;
}
.logo{
	width: 40px;
	position: absolute;
	height: 30px;
	top: 4%;
	left: 5%;
}
.banner-text{
	text-align: center;
	color: #fff;
	padding-top: 50px;
}
.banner-text h1{
	font-size: 20px;
	font-style: italic;
	background-color: rgb(0,0,0,0.5)
}
